* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, rgb(162, 131, 131) , rgb(170, 175, 183));
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}
/* for img in header element*/
.center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 1;
  margin: auto;
  z-index: -1; /* Sends the image to the background */
  opacity: 0.8;
  width: 100%; /* for the image covers the entire header */
  height: 20%;
  object-fit: cover; /* Maintains the aspect ratio */
}
.header h1 {
  display: inline-block;
  font-size: 40px
}

.header h1 .Yovcheva {
  color: deeppink;
}
 .header nav {
  padding: 15px;
  float: right;
  margin-right: 20px;
}

.navbar nav {
  list-style-type: none;

}

/* Styles the menu items */
.menuItems {
  list-style: none;
  display: flex;
  justify-content: center;

}
.menuItems a {
  text-decoration: none;
  color: #090808; 
  padding: 10px 20px;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;/*display: inline-block;
  margin-left: 25px;*/
  
} 
.page-wrapper {
  max-width: 1100px; /* Adjusting the maximum width of the page */
  max-height: fit-content;
  margin: 0 auto; /* Centering the page horizontally */

}
/* centers h2 element within wrapper*/
.page-wrapper h2 {
  text-align: left;
  margin-top: 1;
}

/* Styles the about me section */
#aboutMe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 20px;
  
}
/* style image*/
.float-left {
  justify-content: left;
  width:200px;
  height: fit-content;
  border: 10px groove #f59696; /* adds border for the photo frame */
  border-radius: 200px; /* Makes the image round */
  

}
.page-section p {
  padding-left: 20px;
  margin-top: 3px;
  margin-bottom: 3px;
  
}

/* align items in grid*/
.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
     "pythonProject pythonProject pythonProject"
     "firstProject workProject1 workProject1 "
     "workProject2 workProject2 workProject2"
  ;
  
}
.pythonProject {
  grid-area: pythonProject; /* Places it in the specified grid area */
  padding: 20px;
  text-align: center; /* Centers the text within the item */
}
.firstProject {
  grid-area: firstProject; 
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center; 
}

.workProject1 {
  grid-area: workProject1; 
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center; 
}

.workProject2 {
  grid-area: workProject2; 
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center; 
}


h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
 

/*.navbar {
  display: flex;
  justify-content: flex-end;
  /* flex-direction: row; 
}*/



/*.menuItems a{
  display: inline-block;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 5px;
}*/