* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, rgb(254, 252, 252) , rgb(172, 200, 245));
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}
/* for menu items in header element*/
.center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 1;
  margin: auto;
  object-fit: cover; /* Maintains the aspect ratio */
}
.header h1 {
  display: inline-block;
  font-size: 40px
}

.header h1 .Yovcheva {
  color: rgb(30, 20, 255);
}
 .header nav {
  padding: 15px;
  float: right;
  margin-right: 20px;
}

.navbar nav {
  list-style-type: none;

}

/* Styles the menu items */
.menuItems {
  list-style: none;
  display: flex;
  justify-content: center;

}
.menuItems a {
  text-decoration: none;
  color: #090808; 
  padding: 10px 20px;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;/*display: inline-block;
  margin-left: 25px;*/
  
} 
.hero-banner {
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("./background-polygonal-pattern.jpg");
  background-size: cover;
  background-position: center;
}
#id h2 {
  
  color: #f0f0f0;
}
.page-wrapper {
  max-width: 1100px; /* Adjusting the maximum width of the page */
  max-height: fit-content;
  margin: 0 auto; /* Centering the page horizontally */

}

/* styles image*/
.float-left {
  margin-left: 400px;
  width:200px;
  height: fit-content;
  border: 10px groove #9696f5; /* adds border for the photo frame */
  border-radius: 200px; /* Makes the image round */
}

/* align items in grid*/
.gridContainer {
  display: grid;
  margin: 0px 15%;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 200px 150px 200px;
  grid-template-areas: 
     "pythonProject pythonProject pythonProject"
     "firstProject workProject1 workProject1 "
     "workProject2 workProject2 workProject2"
  ;
  
}
#pythonProject {
  grid-area: pythonProject; /* Places it in the specified grid area */
  background-image: url(./02-portfolio-1.jpg);
}
#firstProject {
  grid-area: firstProject; 
  background-image: url(./02-portfolio-2.jpg);
}

#workProject1 {
  grid-area: workProject1; 
  background-image: url(./02-portfolio-3.jpg);
}

#workProject2 {
  grid-area: workProject2; 
  background-image: url(./02-portfolio-4.jpg);
}

.gridContainerArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

#contact {
  list-style-type: none;
}
.footer {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  color: #090808; 
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
}

/* centers h2 element within wrapper*/
h2 {
  text-align: left;
  margin-top: 1;
}

h3 {
  background-color: rgba(245, 245, 248, 0.594);
  padding: 20px;
  height: 25px;
  color: rgb(7, 0, 0);
  font-size: 18px;
  border-bottom: 5px solid rgba(245, 245, 248, 0.594);
}
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 15%;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 20px;
  justify-content: flex-end;
}
 

/*.navbar {
  display: flex;
  justify-content: flex-end;
  /* flex-direction: row; 
}*/



/*.menuItems a{
  display: inline-block;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 5px;
}*/