* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, rgb(162, 131, 131) , rgb(170, 175, 183));
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}
/* for img in header element*/
.center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 1;
  margin: auto;
  z-index: -1; /* Sends the image to the background */
  opacity: 0.8;
  width: 100%; /*the image covers the entire header */
  height: 20%;
  object-fit: cover; /* Maintains the aspect ratio */
}
.header h1 {
  display: inline-block;
  font-size: 40px
}

.header h1 .Yovcheva {
  color: deeppink;
}
 .header nav {
  padding: 15px;
  float: right;
  margin-right: 20px;
}

.navbar nav {
  list-style-type: none;

}

/* Style the menu items */
.menuItems {
  list-style: none;
  display: flex;
  justify-content: center;

}
.menuItems a {
  text-decoration: none;
  color: #090808; 
  padding: 10px 20px;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;/*display: inline-block;
  margin-left: 25px;*/
  
} 
.page-wrapper {
  max-width: 1000px; /* Adjusting the maximum width of the page */
  margin: 0 auto; /* Centering the page horizontally */
}
.page-wrapper h2 {
  text-align: center;

}
/* Style the page section */
.page-section {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f0f0f0;
}

.float-left {
  justify-content: left;
  width:200px;
  height: fit-content;
}
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/*.navbar {
  display: flex;
  justify-content: flex-end;
  /* flex-direction: row; 
}*/



/*.menuItems a{
  display: inline-block;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 5px;
}*/